node_modules
pnpm-store
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.npmrc
.pnpmrc
coverage
.turbo
next-env.d.ts
.next
.vite
.vitest
vitest.config.ts
vite.config.ts
vite.config.server.ts
tsconfig.json
prettier.config.js
postcss.config.js
tailwind.config.ts
components.json
Documentation/
YAML samples/
src-tauri
target
